@model Market.MVC.Models.Items.ItemsVM

<main role="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-3">
                        <partial name="_ItemsSidebar"/>
                    </div>
                    <!-- end: left column -->
                    <div class="col-md-7 col-lg-9">
                        <div class="row">
                            <div class="col-md-12">
                                <header class="mb-3">
                                    <div class="form-inline">
                                        <strong class="mr-md-auto">Items found </strong>
                                        <div class="btn-group">
                                            <a asp-controller="Items" asp-action="Index" asp-route-type="grid"class="btn btn-white" data-toggle="tooltip" title="" data-original-title="Grid view">
                                                <i class="las la-border-all"></i></a>
                                        </div>
                                    </div>
                                </header>
                            </div>
                        </div>
                        @foreach (var product in Model.Products)
                        {
                            <article class="card card-product-list">
                                <div class="row no-gutters">
                                    <aside class="col-sm-12 col-lg-4">
                                        <img alt="bg image" class="bg-image" src="@product.ImageURL">
                                        <a asp-action="Details" asp-controller="Items" asp-route-id="@product.Id" class="stretched-link swap-link"> <span class="badge badge-dark"> new </span> </a>
                                    </aside>
                                    <!-- col.// -->
                                    <div class="col-lg-5 col-sm-12">
                                        <div class="info-main p-4"> <a href="#" class="h4 title"> @product.Title</a>
                                        </div>
                                        <!-- info-main.// -->
                                    </div>
                                    <!-- col.// -->
                                    <aside class="col-lg-3 col-sm-12">
                                        <div class="info-aside text-center d-flex align-items-start flex-column p-4">
                                            <div class="price-wrap"> $@product.Price</div>
                                            <br> <a asp-action="Details" asp-controller="Items" asp-route-id="@product.Id"  class="btn btn-primary btn-block"> Preview </a>
                                            <div class="btn-group btn-block">
                                                <a href="#" class="btn btn-white" title="Buy item"> <i class="las la-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <!-- info-aside.// -->
                                    </aside>
                                    <!-- col.// -->
                                </div>
                                <!-- row.// -->
                            </article>
                        }
                        <hr>
                        <nav aria-label="pagin">
                            <ul class="pagination pagination-sm">
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                        <a class="page-link" asp-controller="Items" asp-action="Index" asp-route-page="@i" asp-route-type="list">@i</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- end: Right column -->
                </div>
                <!-- end:row -->
            </div>
        </div>
    </main>