@model Market.MVC.Models.Items.ItemsVM

<main role="main">
    <div class="wrapper">

        <div class="breadcrumb-wrap">
            <div class="container py-3">
                <div class="row d-flex justify-content-md-between justify-content-sm-center">
                    <div class="col-md-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="#">Home</a></li>
                                <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="header-actions">
                        <button class="btn btn-ghost grey-dark font-weight-bold">
                            <i class="las la-share-alt"></i>
                            <span>Share</span>
                        </button>
                        <button class="btn btn-ghost grey-dark like-button font-weight-bold">
                            <i class="las la-hand-holding-heart"></i>
                            <span>150 Likes</span>
                        </button>
                        <button class="btn btn-ghost grey-dark font-weight-bold">
                            <i class="las la-bookmark"></i>
                            <span><span>Save for Later</span></span>
                        </button>

                        <!---->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-3">
                    <!-- edit in partials -->
                    <div class="sidebar-widget">
                        <div class="row">
                            <div class="col-12">
                                <span class="sidebar-widget-title--sm">Keyword</span>
                                <div class="input-group mb-4">
                                    <input type="text" placeholder="Search ..." class="form-control" name="">
                                    <span class="input-group-append"> <button class="btn btn-primary"> <i class="las la-search"></i></button></span>
                                </div>
                                <hr>
                                <span class="sidebar-widget-title--sm">Category</span>
                                <!-- Category -->
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input product-type-checkbox" id="webTemplates" data-type="0">
                                    <label class="custom-control-label w-100" for="webTemplates">Web<span class="badge badge-light float-right">875</span></label>
                                </div>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input product-type-checkbox" id="graphics" data-type="1">
                                    <label class="custom-control-label w-100" for="graphics">Graphics<span class="badge badge-light float-right">1485</span></label>
                                </div>
                                <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input product-type-checkbox" id="fonts" data-type="2">
                                    <label class="custom-control-label w-100" for="fonts">Fonts<span class="badge badge-light float-right">626</span></label>
                                </div>
                                <hr> <span class="sidebar-widget-title--sm">Price range</span>
                                <div class="price-range d-flex justify-content-between align-items-center">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="text" id="price-min-input" name="price-min" data-toggle="dropdown" class="form-control rounded-right" placeholder="Min" value="">
                                        <ul id="price-min" class="dropdown-menu">
                                            <li><a href="#" data-value="5" data-toggle="dropdown">Min Price</a></li>
                                            <li><a href="#" data-value="10" data-toggle="dropdown">10</a></li>
                                            <li><a href="#" data-value="50" data-toggle="dropdown">50</a></li>
                                        </ul>
                                    </div>
                                    <div class="mx-1">
                                        <p class="mt-3"> - </p>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="text" id="price-max-input" name="price-max" data-toggle="dropdown" class="form-control rounded-right" placeholder="Max" value="">
                                        <ul id="price-max" class="dropdown-menu">
                                            <li><a href="#" data-value="500" data-toggle="dropdown">Max Price</a></li>
                                            <li><a href="#" data-value="50" data-toggle="dropdown">50</a></li>
                                            <li><a href="#" data-value="100" data-toggle="dropdown">100</a></li>
                                        </ul>
                                    </div>
                                    <div class="ml-1">
                                        <button class="btn btn-primary px-2" type="button"><i class="las la-search"></i></button>
                                    </div>
                                </div>
                                <hr> <span class="sidebar-widget-title--sm">Tags</span>
                                <div class="tags"> <a href="#" class="badge badge-soft-success text-success mb-1">CSS</a> <a href="#" class="badge badge-soft-success text-success mb-1">Bootstrap</a> <a href="#" class="badge badge-soft-success text-success mb-1">WordPress</a> <a href="#" class="badge badge-soft-success text-success mb-1">Digital</a> </div>
                                <hr>
                                <span class="sidebar-widget-title--sm">Rating</span>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label text-primary">
                                        <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i>
                                        <i class="las la-star"></i> <i class="las la-star"></i>
                                    </div>
                                </label>

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label text-primary">
                                        <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i>
                                        <i class="las la-star"></i>
                                    </div>
                                </label>

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label text-primary">
                                        <i class="las la-star"></i> <i class="las la-star"></i> <i class="las la-star"></i>

                                    </div>
                                </label>

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label text-primary">
                                        <i class="las la-star"></i> <i class="las la-star"></i>
                                    </div>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-lg-9">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- edit in partials -->
                            <header class="mb-3">
                                <div class="form-inline">
                                    <strong class="mr-md-auto">32 Items found </strong>
                                    <select class="mr-2 form-control">
                                        <option>Latest items</option>
                                        <option>Trending</option>
                                        <option>Most Popular</option>
                                        <option>Cheapest</option>
                                    </select>
                                    <div class="btn-group">
                                        <a href="search-page-list.html" class="btn btn-white" data-toggle="tooltip" title="" data-original-title="List view">
                                            <i class="las la-list"></i></a>
                                        <a href="search-page.html" class="btn btn-white" data-toggle="tooltip" title="" data-original-title="Grid view">
                                            <i class="las la-border-all"></i></a>
                                        <a href="#" class="btn btn-white" data-toggle="tooltip" title="" data-original-title="Price Down">
                                            <i class="las la-sort-amount-down"></i></a>


                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var product in Model.Products)
                        { 
                            <div class="col-md-4">
                                <!-- edit in partials -->
                                <div class="card item-card h-100 border-0">
                                    <div class="item-card__image rounded">
                                        <a asp-controller="Items" asp-action="Details" asp-route-id="@product.Id">
                                            <img src="@product.ImageURL" class="img-fluid rounded" alt="">
                                        </a>
                                        <div class="hover-icons">
                                            <ul class="list-unstyled">
                                                <li onclick="toggleLike('@product.Id')">
                                                    <a href="#" data-product-id="@product.Id" data-toggle="tooltip" title="Лайк">
                                                        <i class="las la-hand-holding-heart"></i>
                                                    </a>
                                                </li>
                                                <li onclick="addToCart('@product.Id')"><a href="#" data-toggle="tooltip" data-placement="left" title="Bookmark"><i class="las la-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end: Item card image -->
                                    <div class="card-body px-0 pt-3">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <div class="item-title">
                                                <a href="#">
                                                    <h3 class="h5 mb-0 text-truncate">@product.Title</h3>
                                                </a>
                                            </div>
                                            <div class="item-price">
                                                <span>$@product.Price</span>
                                            </div>
                                        </div>
                                        <!-- end: Card info -->
                                        <div class="d-flex justify-content-between align-items-center item-meta">
                                            <div class="short-description mb-0">
                                                <p class="mb-0 extension-text"><a href="#">UI Kit</a><span class="ml-1">in</span> <a href="#">Corporate</a> </p>
                                            </div>
                                        </div>
                                        <!-- end: Card meta -->
                                    </div>
                                    <!-- edn:Card body -->
                                </div>
                                <!-- end: Card -->
                            </div>
                        }
                    </div>
                    <hr class="divider divider-fade" />
                    <!-- edit in partials -->
                    <nav aria-label="pagin">
                        <ul class="pagination pagination-sm">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                    <a class="page-link" asp-controller="Items" asp-action="Index" asp-route-page="@i" asp-route-type="grid">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</main>
<script>
    async function addToCart(productId) {
        try {
            const response = await fetch(`/Cart/AddItemToCart/${productId}`, {
                method: 'POST'
            });

            if (response.ok) {
                alert("Товар добавлен в корзину!");
            } else {
                const err = await response.text();
                alert("Ошибка: " + err);
            }
        } catch (error) {
            console.error("Ошибка при добавлении в корзину:", error);
            alert("Произошла ошибка.");
        }
    }

    // Обработка фильтрации по типам товаров
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.product-type-checkbox');
        
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const selectedTypes = Array.from(checkboxes)
                    .filter(cb => cb.checked)
                    .map(cb => cb.dataset.type);
                
                // Получаем текущий URL и параметры
                const url = new URL(window.location.href);
                const searchParams = new URLSearchParams(url.search);
                
                // Обновляем параметр productTypes
                if (selectedTypes.length > 0) {
                    searchParams.set('productTypes', selectedTypes.join(','));
                } else {
                    searchParams.delete('productTypes');
                }
                
                // Сбрасываем страницу на первую при изменении фильтров
                searchParams.set('page', '1');
                
                // Обновляем URL и перезагружаем страницу
                url.search = searchParams.toString();
                window.location.href = url.toString();
            });
        });
    });

    async function toggleLike(productId) {
        try {
            const response = await fetch(`/Like/Toggle/${productId}`, {
                method: 'POST'
            });

            if (response.ok) {
                const icon = document.querySelector(`[data-product-id='${productId}'] i`);
                icon.classList.toggle('text-danger'); // Добавляем визуальный эффект (опционально)
            } else {
                const err = await response.text();
                alert("Ошибка: " + err);
            }
        } catch (error) {
            console.error("Ошибка при лайке:", error);
            alert("Произошла ошибка.");
        }
    }
</script>