@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<main role="main">
    <div class="warpper">
        <div class="container">
            <div class="intro-2 poition-relative">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-8">
                        <h1 class="intro-title">
                            UI assets for startup owners &amp; busy designers
                        </h1>
                        <p class="lead">
                            Find the perfect creative asset to <br />
                            bring your project to life
                        </p>
                    </div>
                    <div class="col-md-4 d-none d-sm-block">
                        <img class="card-img-top opacity-8" src="assets/img/theme-illustration.png" alt="image" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-4 mt-5 d-flex justify-content-between align-items-center">
                <div class="col-md-8">
                    <h5 class="mb-0">Последние UI Kit</h5>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.LatestUIKits)
                {
                    <div class="col-md-3">
                        <div class="card item-card h-100 border-0">
                            <div class="item-card__image rounded">
                                <a href="@Url.Action("Details", "Items", new { id = product.Id })">
                                    <img src="@product.CoverImagePath" class="img-fluid rounded" alt="@product.Title">
                                </a>
                                <div class="hover-icons">
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Details", "Items", new { id = product.Id })"><i class="las la-desktop"></i></a></li>
                                        <li><a href="#"><i class="lar la-bookmark"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="item-title">
                                        <a href="@Url.Action("Details", "Items", new { id = product.Id })">
                                            <h3 class="h5 mb-0 text-truncate">@product.Title</h3>
                                        </a>
                                    </div>
                                    <div class="item-price">
                                        <span>@product.Price.ToString("C")</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center item-meta">
                                    <div class="short-description mb-0">
                                        <p class="mb-0 extension-text">
                                            <a href="#">@product.ProductType</a>
                                            <span class="ml-1">by</span>
                                            <a href="#">@product.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <hr class="divider divider-fade">
            
            <div class="row mb-4 mt-3 d-flex justify-content-between align-items-center">
                <div class="col-md-8">
                    <h5 class="mb-0">Последние WordPress</h5>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.LatestWordPress)
                {
                    <div class="col-md-3">
                        <div class="card item-card h-100 border-0">
                            <div class="item-card__image rounded">
                                <a href="@Url.Action("Details", "Items", new { id = product.Id })">
                                    <img src="@product.CoverImagePath" class="img-fluid rounded" alt="@product.Title">
                                </a>
                                <div class="hover-icons">
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Details", "Items", new { id = product.Id })"><i class="las la-desktop"></i></a></li>
                                        <li><a href="#"><i class="lar la-bookmark"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="item-title">
                                        <a href="@Url.Action("Details", "Items", new { id = product.Id })">
                                            <h3 class="h5 mb-0 text-truncate">@product.Title</h3>
                                        </a>
                                    </div>
                                    <div class="item-price">
                                        <span>@product.Price.ToString("C")</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center item-meta">
                                    <div class="short-description mb-0">
                                        <p class="mb-0 extension-text">
                                            <a href="#">@product.ProductType</a>
                                            <span class="ml-1">by</span>
                                            <a href="#">@product.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <hr class="divider divider-fade">
            
            <div class="row mb-4 mt-3 d-flex justify-content-between align-items-center">
                <div class="col-md-8">
                    <h5 class="mb-0">Последние HTML</h5>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.LatestHTML)
                {
                    <div class="col-md-3">
                        <div class="card item-card h-100 border-0">
                            <div class="item-card__image rounded">
                                <a href="@Url.Action("Details", "Items", new { id = product.Id })">
                                    <img src="@product.CoverImagePath" class="img-fluid rounded" alt="@product.Title">
                                </a>
                                <div class="hover-icons">
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Details", "Items", new { id = product.Id })"><i class="las la-desktop"></i></a></li>
                                        <li><a href="#"><i class="lar la-bookmark"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="item-title">
                                        <a href="@Url.Action("Details", "Items", new { id = product.Id })">
                                            <h3 class="h5 mb-0 text-truncate">@product.Title</h3>
                                        </a>
                                    </div>
                                    <div class="item-price">
                                        <span>@product.Price.ToString("C")</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center item-meta">
                                    <div class="short-description mb-0">
                                        <p class="mb-0 extension-text">
                                            <a href="#">@product.ProductType</a>
                                            <span class="ml-1">by</span>
                                            <a href="#">@product.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <section class="cta-big section">
            <div class="container">
                <div class="cta-big-content bg-primary py-5 px-5 mt-4 rounded text-white position-relative">
                    <img alt="bg image" class="bg-image" src="assets/img/bg-3.png">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-lg-8 col-md-7">
                            <h3 class="h1">Empowering creative people to make a living doing what they love!</h3>
                            <p class="subtitle">Sign-up today </p>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-md-5 align-self-center">
                            <img src="assets/img/illustrations/03.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>