@model Market.MVC.Models.Cart.CartVM

<main role="main">
        <div class="wrapper">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Your cart</span>
                            <span class="badge bg-primary text-white rounded-pill">@Model.Items.Count</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var item in Model.Items)
                            {
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0">@item.Title</h6>
                                        <small class="text-muted">Brief description</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="text-muted font-weight-bold me-3">$@item.Price</span>
                                        <button class="btn btn-outline-danger btn-sm remove-item" 
                                                data-cart-id="@Model.CartId" 
                                                data-product-id="@item.ProductId">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Billing address</h4>
                        <div class="card mb-5">
                            <div class="card-body py-3 border-bottom">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h4 class="card-title mb-1">Payment Info</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form asp-action="Checkout" asp-controller="Cart" method="post" role="form" class="form-width">
                                    <input type="hidden" name="CartId" value="@Model.CartId" />
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <input type="text" name="FirstName" class="form-control" placeholder="First Name" required />
                                            <i class="fa fa-user iconalign"></i>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" name="LastName" class="form-control" placeholder="Last Name" required />
                                            <i class="fa fa-user iconalign"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <input type="tel" name="PhoneNumber" class="form-control" placeholder="Phone Number" required />
                                            <i class="fa fa-phone iconalign"></i>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" name="Email" class="form-control" placeholder="E-Mail" required />
                                            <i class="fa fa-envelope iconalign"></i>
                                        </div>
                                    </div>
                                    <div class="form-group text-left mt-4">
                                        <h5 class="text-dark">Payment Method</h5>
                                        <hr />
                                    </div>
                                    <div class="row ml-0 my-3">
                                        <div class="col">
                                            <div class="form-group text-left mt-5">
                                                <h5 class="text-dark">Payment Information</h5>
                                                <hr />
                                            </div>

                                            <div class="tab-content mt-5" id="myTabContent">
                                                <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                                                    <div id="div1" style="display: inline;">
                                                        <div class="form-group">
                                                            <input type="text" name="CardHolderName" class="form-control" placeholder="Card Holder's Name" required />
                                                            <i class="fa fa-user iconalign"></i>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" name="CardNumber" class="form-control" placeholder="Valid Card Number" required 
                                                                   pattern="[0-9]{16}" maxlength="16" />
                                                            <i class="fa fa-credit-card iconalign"></i>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 form-group pr-md-0">
                                                                <select name="CardExpiryMonth" class="form-control" required>
                                                                    <option value="">Month</option>
                                                                    @for (int i = 1; i <= 12; i++)
                                                                    {
                                                                        <option value="@i.ToString("00")">@i.ToString("00")</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 form-group pr-md-0">
                                                                <select name="CardExpiryYear" class="form-control" required>
                                                                    <option value="">Year</option>
                                                                    @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                                                                    {
                                                                        <option value="@i">@i</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 form-group">
                                                                <input type="text" name="CardCVC" class="form-control" placeholder="CVC" required 
                                                                       pattern="[0-9]{3}" maxlength="3" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                                                    <div id="div2">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Your Paypal Address" />
                                                            <i class="fa fa-envelope iconalign"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-left">
                                                        <h5 class="text-dark">Billing Address</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="form-group" style="min-height:70px">
                                                        <textarea class="form-control" style="min-height:70px; max-height:70px" placeholder="Street Address 1"></textarea>

                                                        <i
                                        class="fa fa-street-view iconalign"
                                        style="position: relative; top:-70px;"
                                      ></i>
                                                    </div>
                                                    <div class="form-group" style="min-height:70px">
                                                        <textarea class="form-control" style="min-height:70px; max-height:70px" placeholder="Street Address 2"></textarea>

                                                        <i
                                        class="fa fa-street-view iconalign"
                                        style="position: relative; top:-70px;"
                                      ></i>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" placeholder="Country" style="padding-left:8px !important" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" placeholder="State" style="padding-left:8px !important" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <input type="text" class="form-control" placeholder="City" style="padding-left:8px !important" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <input type="number" class="form-control" placeholder="Postal / Zip Code" style="padding-left:8px !important" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-primary col-md-4" type="submit">
                                                        Checkout
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const removeButtons = document.querySelectorAll('.remove-item');
            
            removeButtons.forEach(button => {
                button.addEventListener('click', async function() {
                    const cartId = this.dataset.cartId;
                    const productId = this.dataset.productId;
                    
                    try {
                        const response = await fetch('/Cart/RemoveItem', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                cartId: cartId,
                                productId: productId
                            })
                        });
                        
                        if (response.ok) {
                            // Удаляем элемент из DOM
                            this.closest('li').remove();
                            
                            // Обновляем счетчик товаров
                            const badge = document.querySelector('.badge');
                            const currentCount = parseInt(badge.textContent);
                            badge.textContent = currentCount - 1;
                            
                            // Если корзина пуста, обновляем страницу
                            if (currentCount - 1 === 0) {
                                window.location.reload();
                            }
                        } else {
                            alert('Ошибка при удалении товара');
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        alert('Произошла ошибка при удалении товара');
                    }
                });
            });
        });
    </script>
}